# compiled convention files
/API_MO/conventions/*.mat
/API_MO/conventions/*.txt
# test files for demos
/HRTFs/ARI/*/*.mat
/HRTFs/BTDEI/*/*/*/*/*/*.mat
/HRTFs/BTDEI/*/headphones_info.mat
/HRTFs/CIPIC/*/*.mat
/HRTFs/CIPIC/show_data/
/HRTFs/SOFA/sofa_api_mo_test/*.sofa
/HRTFs/SOFA/database/*/*.sofa